@import url(utilities.css);

/* VARIABLES */
:root {
    --primary-color: #6B8492;
    --secondary-color: #F24C3D;
    --dark-color: #191919;
    --medium-color: #2D4356;
    --light-color: #FDFDFD;
}

/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    color: var(--dark-color);
}

img {
    width: 100%;
}

a {
    color: var(--light-color);
}

/* NAVBAR */
.navbar {
    height: 10rem;
}

.navbar .flex-container {
    justify-content: space-between;
}

.navbar ul {
    display: flex;
    gap: 2rem;
}

.navbar ul li a {
    padding: .5rem 1rem;
}

.navbar ul li a:hover {
    border-bottom: .2rem solid var(--secondary-color);
}

.navbar .logo a {
    display: flex;
    align-items: center;
}

.navbar .logo a:hover img {
    border-color: var(--secondary-color);
    transform: scale(1.05);
}

.navbar .logo img {
    align-self: center;
    width: 8rem;
    border: .3rem solid var(--light-color);
    border-radius: 50%;
    transition: all .3s;
}

/* SHOWCASE */
.showcase {
    height: 40rem;
    color: var(--light-color);
    position: relative;
}

.showcase::after {
    position: absolute;
    content: "";
    height: 8rem;
    right: 0;
    left: 0;
    bottom: -5rem;
    background-color: var(--light-color);
    transform: skewY(-2.5deg);
}

.showcase .grid-container {
    grid-template-columns: 60% 40%;
    gap: 3rem;
    overflow: visible;
}

.showcase h1 {
    font-size: 3.8rem;
    font-weight: 300;
}

.showcase h2 {
    color: var(--secondary-color);
    font-weight: 300;
}

.showcase p {
    margin: 2rem 0;
}

.showcase .showcase-form {
    position: relative;
    z-index: 10;
    top: 5rem;
    height: 38rem;
    width: 40rem;
    justify-self: flex-end;
    color: var(--medium-color);
}

.showcase-form .form-control {
    margin: 3rem 0;
}

.form-control input[type="text"],
.form-control input[type="email"] {
    border:  none;
    border-bottom: 1px solid var(--primary-color);
    width: 100%;
    font-size: 1.4  rem;
    outline: none;
    padding: 1rem 0;
}

input::placeholder {
    color: var(--primary-color);
    opacity: .7;
}

.form-control input[type="submit"] {
    font-size: 1.4rem;
}

/* STATS */
.stats {
    padding-top: 10rem;
}

.stats .stats-header {
    max-width: 50rem;
    margin: auto;
    font-weight: 300;
}

.stats .stat h3 {
    font-size: 3rem;
    margin-top: 1.5rem;
    color: var(--medium-color);
}

.stats .stat p {
    font-size: 1.8rem;
    color: var(--primary-color);
}

.stats i {
    color: var(--primary-color);
}

/* CLI */
.cli .grid-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.cli .grid-container > *:first-child {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    width: 60rem;
    border-radius: .8rem;
}

.cli .card {
    box-shadow: rgba(25, 25, 25, .3) 0px 0px 8px 0px;
}

.cli h4 {
    font-weight: 300;
}

/* CLOUD */
.cloud .grid-container {
    grid-template-columns: 2fr 1fr;
}

.cloud h2 {
    font-size: 3.6rem;
    font-weight: 300;
}
